{% extends 'appQuejas/plantilla.html' %}
{% load staticfiles %}
{% block css  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/categorias.css'%}">
{% endblock %}

{%block header%}
	<nav>
		<ul class="row">
			<li class="col"><a class="text-center" href="{% url 'index' %}"><span class="icon-home"></span>Inicio</a></li>
			<li class="col activo"><a class="text-center" href="{% url 'categorias' %}"><span class="icon-paragraph-justify"></span>Categorias</a></li>
			<li class="col"><a class="text-center" href="{% url 'quienesSomos' %}"><span class="icon-question"></span>¿Quiénes Somos?</a></li>

			<li class="col"><a class="text-center" href="{% url 'contactenos' %}"><span class="icon-mail2"></span>Contactenos</a></li>
		</ul>	
	</nav>
{%endblock%}


{%block content%}
	<table class="table table-striped">                    
        <thead>
            <tr>
                <th scope="col">cod</th>
                <th scope="col">Profesión</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
        {% for elemento in listaCategorias %}
			{% for cat in categoria %}
				{% for per in persona %}
                    <tr>
                        {% if per.user == elemento.usuarioId %}}
                        	<th scope="row">{{per.user}} </th>
                            <td>{{per.profesion}}</td>
                    	{% endif %}
                {% endfor %}
                {% if cat.pk == elemento.nombreCategoria %}
                    		<td>{{cat.nombre}} </td>
                    	</tr>
                {% endif %}
            {% endfor %}
		{% endfor %}       
        </tbody>    
    </table>
{%endblock%}

{% block scripts %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}