
{% extends 'appQuejas/plantilla.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block css  %}

{% endblock %}

{%block header%}
	<nav>
		<ul class="row">
			<li class="col activo"><a class="text-center" href="{% url 'index' %}"><span class="icon-home"></span>Inicio</a></li>
			<li class="col"><a class="text-center" href="{% url 'categorias' %}"><span class="icon-paragraph-justify"></span>Categorias</a></li>
			<li class="col"><a class="text-center" href="{% url 'quienesSomos' %}"><span class="icon-question"></span>¿Quiénes Somos?</a></li>

			<li class="col"><a class="text-center" href="{% url 'contactenos' %}"><span class="icon-mail2"></span>Contactenos</a></li>
		</ul>	
	</nav>
{%endblock%}

{%block content%}
		<div class="content">
			<section class="p-4">
				<div class="container">
					<h3>¡Envíanos tus sugerencias!</h3>
					
				        <form method="POST" action="" novalidate="novalidate">
				        {% csrf_token %}
				        {{ form|bootstrap }}
					<input type="submit" value="Submit" class="btn btn-success pull-right">
				    </form>
					
				</div>
			</section>
{%endblock%}
{% block scripts %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/contactenos.js' %}"></script>
{% endblock %}
