{% extends 'appQuejas/plantilla.html' %}
{% load staticfiles %}
{% block css  %}

{% endblock %}

{%block header%}
	<nav>
		<ul class="row">
			<li class="col activo"><a class="text-center" href="{% url 'index' %}"><span class="icon-home"></span>Inicio</a></li>
			<li class="col"><a class="text-center" href="{% url 'categorias' %}"><span class="icon-paragraph-justify"></span>Categorias</a></li>
			<li class="col"><a class="text-center" href="{% url 'quienesSomos' %}"><span class="icon-question"></span>¿Quiénes Somos?</a></li>

			<li class="col"><a class="text-center" href="{% url 'contactenos' %}"><span class="icon-mail2"></span>Contactenos</a></li>
		</ul>	
	</nav>
{%endblock%}

{%block content%}
	
	<div class="content">
		<div id="conjuntoDeQuejas" class="filaQuejas d-flex flex-wrap align-items-center justify-content-center">
			{%for queja in quejas%}
				<div class="previaConImagen col-md-3 p-1 align-self-stretch d-flex flex-column">
					<div class="encabezadoQueja">
						<div class="tituloQueja"><a href="{% url 'noticia' pk=queja.pk %}"><h3 id="{{queja.pk}}">{{queja.titulo}}</h3></a></div>
						<h6>{{queja.categoria.nombre}}</h6>
					</div>
					<div class="contenidoQueja">
						<img class="imagenQueja" src="{{queja.imagen}}">
						<p class="textoQueja">{{queja.descripcion}}</p>
					</div>
					<div class="pieQueja align-self-baseline">
						<h6><strong>Publicado: {{queja.fechaCreacion}}</strong></h6>
						<button type="button" class="btn btn-primary bg-primary ml-auto"> Comentar <span class="badge badge-light"></span></button>
					</div>
				</div>
			{%endfor%}

			<div class="pagination">
			    <span class="step-links">
			        {% if quejas.has_previous %}
			            <a href="?page=1">&laquo; first</a>
			            <a href="?page={{ quejas.previous_page_number }}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ quejas.number }} of {{ quejas.paginator.num_pages }}.
			        </span>

			        {% if quejas.has_next %}
			            <a href="?page={{ quejas.next_page_number }}">next</a>
			            <a href="?page={{ quejas.paginator.num_pages }}">last &raquo;</a>
			        {% endif %}
			    </span>
			</div>
		</div>
	</div>
	
	<article id="nuevaQueja" class="esconder">
		<div id="cuadroNuevaQueja" class="d-flex flex-column border p-2 col-md-12">
			<div id="nuevaQuejaArriba">
				<div class="d-flex bd-highlight">
					<h4 class="p-1 flex-grow-1 bd-highlight textoCentrado">Nueva Queja</h4>
					<button id="cerrarCuadroQueja" class="btn btn-primary" type="button">Cerrar</button>
				</div>
				
				<div class="form-group userId" id="">
					
				</div>
				<div class="form-group">
					<label for="inputTitulo">Titulo: </label>
					<input class="form-control" type="text" name="inputTitulo" id="inputTitulo" placeholder="¿De qué te estás quejando?">
				</div>
				<div class="form-group">
					<label for="selectCategoria">Categoria: </label>
					<select class="form-control" id="selectCategoria" name="selectCategoria">
    				</select>
				</div>
				<div class="form-group">
					<label for="explicacionQueja">Explica tu queja:</label><br>
					<textarea class="form-control" name="explicacionQueja" id="explicacionQueja" placeholder="¿Por qué te estás quejando? ¿Qué sugerencias tienes para mejorar esta situación?" rows=4></textarea>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" id="botonEnviarQueja" class="btn btn-default col-12">ENVIAR</button>
			</div>
		</div>
	</article>

{%endblock%}

{% block scripts %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/crearQueja.js' %}"></script>
{% endblock %}
			