{% extends 'appQuejas/plantilla.html' %}
{%block content%}
			<nav >
				<ul class="row">
					<li class="col activo"><a class="text-center" href="{% url 'index' %}"><span class="icon-home"></span>Inicio</a></li>
					<li class="col"><a class="text-center" href="{% url 'categorias' %}"><span class="icon-paragraph-justify"></span>Categorias</a></li>
					<li class="col"><a class="text-center" href="{% url 'quienesSomos' %}"><span class="icon-question"></span>¿Quiénes Somos?</a></li>
					<li class="col"><a class="text-center" href="{% url 'contactenos' %}"><span class="icon-mail2"></span>Contactenos</a></li>
					</ul>
			</nav>
		</header>
		<div class="content">
			<div id="conjuntoDeQuejas" class="filaQuejas d-flex flex-wrap align-items-center justify-content-center">
			</div>
			<script src="js/jquery.min.js"></script>
			<script src="js/index.js"></script>
			<script src="js/menu.js"></script>
{%endblock%}