{% extends 'appQuejas/plantilla.html' %}
{% load staticfiles %}
{% block css  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
{% endblock %}
{%block content%}
	<div class="container">
		<br>
		<h3>¡Regístrate!</h3>
		<h5>De esa forma podras interactuar con los demas usuarios y colocar tus propias quejas.</h5>
		
		<form id="formularioRegistro" class="col-12" method="POST" action="{% url 'registro' %}">
			{% csrf_token %}
			<h3 id="mensaje">{{mensaje}}</h3>
			<div class="form-group">
				<label for="nombreUsuario">Usuario:</label><br>
				<input class="form-control" type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario a usar"><br>
			</div>
			<div class="form-group">
				<label for="correoUsuario">Correo:</label><br>
				<input class="form-control" type="text" name="correoUsuario" id="correoUsuario" placeholder="Correo a utilizar"><br>
			</div>
			<div class="form-group">
				<label for="nombrePersona">Nombre:</label><br>
				<input class="form-control" type="text" name="nombrePersona" id="nombrePersona" placeholder="Nombre"><br>
			</div>
			<div class="form-group">
				<label for="apellidoPersona">Apellido:</label><br>
				<input class="form-control" type="text" name="apellidoUsuario" id="apellidoUsuario" placeholder="Apellido">
			</div><br>
			<div class="form-group">
				<label for="numeroContacto">Celular:</label><br>
				<input class="form-control" type="text" name="numeroContacto" id="numeroContacto" placeholder="Contacto a Utilizar"><br>
			</div>
			<div class="form-group">
				<label for="password">Contraseña:</label><br>
				<input class="form-control" type="password" name="password" id="password" placeholder="Contraseña a utilizar"><br>	
			</div>
			<div class="form-group">
				<label for="passwordRepeat">Confirmar contraseña:</label><br>
				<input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Confirme su contraseña"><br>
			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" class=" colorBtn btn btn-default col-5">REGISTRAR</button>
			</div>
			<br><br><br>
		</form>
		
	</div>
{%endblock%}
{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/registro.js' %}"></script>
{% endblock %}
