#menuContenido {
	background-color: #262726;
	padding-right: 0px;
	font-weight: bolder;
}

#menuContenido a{
	color: #ffffff;
	text-decoration: none;
}

div a[role="tab"]:hover{
	text-shadow: 0px 0px 20px #479454;
}

#menuContenido .active{
	background-color: #215473;
	border-radius: 0px;
	right: 0px;
}

@media screen and (max-width:768px ) {
	#contenido {
		-ms-flex-direction: column !important;
		flex-direction: column !important;	
	}

	#contenido .tab-pane div{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
